*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'DM Sans';
}
body{
    color: white;
    background-color: black;
    width: 100%;
}
section{
    width: 100%;
    padding-bottom: 200px;
}
#header{
    margin-top: 30px;
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    gap: 35%;
    width: 100%;
    align-items: center;
    transition: 0.6s;
    max-width: 100%;
    z-index: 1;
}
#header.sticky{
    margin-top: 0px;
    padding: 10px 0 10px 0;
    z-index: 10000;
}
#name-header a{
    text-decoration: none;
    color: white;
}
.navbar{
    display: flex;
    gap: 25px;
    list-style-type:none;
}
.navbar a, .sidebar a{
    text-decoration: none;
    font-size: 1.2em;
    color: white;
}
.navbar a:hover, #name-header a:hover{
    color: rgb(149, 155, 189);
}
.sidebar{
    list-style-type: none;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    z-index: 1000;
    background-color: rgb(149, 155, 189);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px 150px 0px 10px;
}
.sidebar li{
    width: 100%;
    padding-bottom: 10px;
}
.sidebar a{
    width: 100%;
}
#menu{
    display: none;
}
#menu:hover, #exit:hover{
    cursor: pointer;
}
.home-page-content{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
}
#home img{
    width: 350px;
    height: 650px;
    animation: fadeIn 5s;
    max-width: 100%;
}
#home h1{
    max-width: 100%;
}
.text-content{
    display: block;
    gap: 10px;
    width: 30%;
    animation: fadeIn 5s;
    max-width: 100%;
}
.text-content h3{
    color: rgb(149, 155, 189);
    max-width: 100%;
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
#about h1{
    padding-top: 100px;
    margin-bottom: 10px;
    text-align: center;
}
.line{
    background-color: rgb(149, 155, 189);
    margin: 0% 30% 0% 30%;
}
.line p{
    color: rgb(149, 155, 189);
    font-size: 1px;
}
.about-info{
    display: flex;
    justify-content: center;
}
#about img{
    width: 450px;
    border-radius: 10px;
    filter: grayscale(100%);
}
#about img:hover{
    filter: grayscale(0%);
    transition: 0.8s;
}
.about-tabs{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
}
.about-article{
    width: 50%;
}
.button-container{
    display: flex; 
}
.button-container button{
    font-size: 18px;
    color: white;
    padding: 3px 20px 3px 20px;
    background-color: black;
    border: 1px solid white;
    border-radius: 50px;
}
.button-container button:hover{
    background-color: rgb(21, 21, 21);
    cursor: pointer;
}
.about-content{
    margin-top: 20px;
    margin-left: 10px;
    max-width: 100%;
    text-align: center;
}
/* About content active and hidden */
.content{
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    visibility: hidden;
    transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}
.content.active{
    opacity: 1;
    transition: 3s;
    visibility: visible;
    max-height: 1000px;
    text-align: center;
}
.content.active h4{
    margin-bottom: 15px;
}

.tab-buttons.active{
    background-color: rgb(149, 155, 189);
    color: black;
}
/* skill set*/
#skill-set{
    text-align: center;
    padding-top: 10px;
}
.skill-content{
    margin-top: 60px;
}
.projects{
    display: grid;
    justify-content: center;
    grid-row-gap: 20px;
}
.p1 p, .p2 p, .p3 p, .p4 p{
    font-weight: bold;
}
.p1 img, .p2 img, .p3 img{
    width: 250px;
    height: 250px;
}
.p4 img{
    height: 250px;
}
.p1, .p2, .p3{
    grid-row-start: 1;
    grid-row-end: 2;
}
.p1{
    grid-column-start: 1;
}
.p2{
    grid-column-start: 2;
}
.p3{
    grid-column-start: 3;
}
.p4{
    grid-row-start: 2;
    grid-column-start: 2;
    grid-column-end: 3;
}
.projects img{
    border-radius: 25px;
    transition: 0.3s;
}
.p1 img:hover, .p2 img:hover, .p3 img:hover {
    width: 300px;
    height: 300px;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0px 0px 10px 10px rgb(201, 201, 201);
}
.p4 img:hover{
    height: 280px;
    cursor: pointer;
    transition: 0.3s;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0px 0px 10px 10px rgb(201, 201, 201);
}
#contact{
    padding: 200px 0px 200px 0px;
    text-align: center;
}
.input-info{
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hidden{
    opacity: 0;
    transition: 5s;
}
.show{
    opacity: 1;
}

@media (max-width:768px){
    html{
        width: 100%;
    }
    body{
        overflow-x: hidden;
      }
      /* home page*/
    #name-header{
        font-size: 10px;
    }
    .home-page-content{
        justify-content:center;
        margin-left: 10px;
        position: relative;
        width: 100%;
    }
    .text-content{
        position: absolute;
        width: 60%;
        font-size: 60%;
        z-index: 9;
    }
    #home img{
        animation: fadeIn 5s;
        max-width: 100%;
    }
    .navbar li a{
        display: none;
    }
    #menu{
        display: flex;
    }
    /* about page*/
    #about img{
        width: 350px;
        border-radius: 10px;
        margin-bottom: 10px;
    }
    .about-tabs{
        display: block;
        align-items: center;
        justify-content: center;
        font-size: 10px;
    }
    .about-article{
        text-align: center;
        width: 100%;
    }
    .about-img{
        display: flex;
        justify-content: center;
    }
    .block-display-about-container{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .about-article{
        display: block;
        align-items: center;
        justify-content: center;
    }
    .button-container{
        display: flex;
        justify-content: center;
    }
    .button-container button{
        font-size: 10px;
    }
    /* projects */
    .projects{
        display: block;
    }
    .p1,.p2,.p3{
        margin-bottom: 20px;
    }
    .p4 img{
        width: 90%;
        height: 90%;
    }
    /*Contact*/
    .input-info{
        font-size: 60%;
    }
    .input-info img{
        width: 100px;
        height: 100px;
    }
}
